<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 삭제</title>
    <link rel="stylesheet" th:href="@{/css/deleteform.css}">
</head>
<body>
<div class="container">
    <h1>게시글 삭제</h1>
    <form th:action="@{/updateform/{id}" method="post" th:object="${board}">
        <input type="hidden" th:field="*{id}"/>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" required/>

        <input type="submit" value="삭제"/>
    </form>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
</div>
</body>
</html>
